doctype html
html
  head
    link(rel="stylesheet" href="../static/style.css")
    link(rel="stylesheet" href="../static/contact.css")
    title Dance Academy
    block scripts
  body
    nav#navbar
        ul 
            div#logo
                img(src="../static/pngwing.com.png", alt="", srcset="")
                | MD_STYLE
                li #[a(href="/") HOME]
                li #[a(href="/") CLASSES]
                li #[a(href="/") STUDIO]
                li #[a(href="/") FEATURES]
                li.one #[a(href="/") CONTACT US]
      
    block content
    block foot
      #footer
        | Terms of Use | Privacy Policy | Copyright &copy;2023 MD_style.com | All Rights Reserved.