<!DOCTYPE html>
<html>

<head>
  <title>Dance academy</title>
  <script src="../static/index.js"></script>
  style 
   include ../static/style.css
   
</head>

<body>
  nav#navbar
    ul 
      div#logo
        img(src="../static/pngwing.com.png", alt="", srcset="")
        | MD_STYLE
        li #[a(href="/") HOME]
        li #[a(href="/") CLASSES]
        li #[a(href="/") STUDIO]
        li #[a(href="/") FEATURES]
        li #[a(href="/contact") CONTACT US]
      
    
  section#section1 
    div  DANCE FIRST.
    div  THINK NEXT.
    div#first We are a dance studio that offers classes for all levels of the body, from beginners to advanced students.
    div#second #[a(href="https://www.youtube.com/watch?v=-s7SeQiAP7k&t=224s" target="blank") watch-video]      
      

  section#section2 
    div.card
      h2 Learn to Dance
      h3 Express yourself
        div.card-box
          div.card-img
            img(src="../static/black-4906807_1280.jpg", alt="", srcset="")
          div.card-content
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat vel, inventore laborum sapiente cumque ad culpa voluptatum.
               
    div.card
      h2 About our studio
      h3 Who we are
        div.card-box
          div.card-img
            img(src="../static/black-4906807_1280.jpg", alt="", srcset="")
          div.card-content
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident corrupti illo aspernatur! Vero possimus provident, magni illum maiores est at.
          
          
               
    div.card
      h2 Client Reviews
      h3 Our students say
        div.card-box
          div.card-img
            img(src="../static/black-4906807_1280.jpg", alt="", srcset="")
          div.card-content
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit sint, assumenda vel rerum architecto facere eos praesentium illo quod odit?
  section#section3 
    h2 Our sponsors 
    div#sponsors
        img(src="../static/hp.png", alt="", srcset="")        
        img(src="../static/microsoft.png", alt="", srcset="")        
        img(src="../static/skype.png", alt="", srcset="")        
        img(src="../static/apple1.png", alt="", srcset="")        
               
  footer#footer 
   | Terms of Use | Privacy Policy | Copyright &copy;2023 MD_style.com | All Rights Reserved.
         
</body>

</html>